@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
    --dark-bg: rgb(25, 25, 30);
    --text-color: white;
}

* {

    font-family: 'Roboto Mono';
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--dark-bg);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease-out;
    overflow: hidden;
    justify-content: center;
  }

.center {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.large {
    font-size: 5rem;
}

.medium {
    font-size: 1.5rem;
}

/* search bar css */
.search-bar {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-top: 2rem;
    width: 32rem;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0px;
    padding: 1rem;
    transition: 0.4s ease-out;
}

.search-bar:focus {
    outline: 0px;
}
